<h1>Playlist#index</h1>
<p>Find me in app/views/playlist/index.html.erb</p>
<h2>Your Spotify Playlists:</h2>

<ul id="parties">
<% @parties.each do |party| %>
		<% if party["code"] %>
			<a href="/<%=party["code"]%>"><%=party["name"]%></a><br>
		<%end%>
<% end %>
</ul>