<h1>Playlist#index</h1>
<p>Find me in app/views/playlist/index.html.erb</p>
<h2>Your Spotify Playlists:</h2>

<ul id="playlists">
<% @playlists["items"].each do |playlist| %>
	<li><%= playlist["name"] %></li>
<% end %>
</ul>