<h1>Create an awesome PART-AY playlist</h1>
<p>Find me in app/views/party/create.html.erb</p>

<form action="/playlist" method="post">
  <input type="text" id="user_playlist_name" placeholder="Name your playlist" required>
  <label>Add music</label>
    <select>
      
    </select>
  

</form>
