<div class="body">
    <form class="no-margin"
          action="index.html" method="get">
        <fieldset>
            <div class="form-group">
            <%= render 'form'%>
        </div>
        </fieldset>
        <header class="text-align-center">
            <h2>OR</h2>
        </header>
        <div class="form-actions spotify">
            <%= button_to "/auth/spotify", class: "spotify btn btn-block btn-lg btn-danger" do %>
              <i class="fa fa-spotify fa-lg"></i>
              <%if current_user %>
                <small> VIEW MY PARTIES </small>
            <%else%>
              <small>LOG IN WITH SPOTIFY</small>
            <%end%>
        <% end %>
        </div>
    </form>
</div>
