<div id="react-title"></div>
<p>Everyone starts here.</p>

<br>
<% if current_user%>
    <p>Signed in as <%=current_user.name%>, <%= link_to 'all my parties', 'user/show'%></p>
<%end%>

    <br>
<%= render 'form' %>

