 <h5><% if current_user %>
    Welcome, <%= current_user.name %>!
    <strong>
    <%= link_to 'Sign out', signout_path %></strong></h5>
  <% end %>
<h1 align="center" class="groovwithme">Groovwith.<strong>ME</strong></h1>
<center> <h3> Add songs to your friends playlists. </h3> </center>
<center> <h3> Start your own party. </h3> </center>
<center> <h3> Text your party card to your friends. </h3> </center>

<div class="single-widget-container">
    <section class="widget login-widget">
        <header class="text-align-center">
            <h3>Join a Party</h3>
        </header>

<%= render 'input_field' %>
