<h1 align="center">Groovwith.<strong>ME</strong></h1>
<div class="single-widget-container">
    <section class="widget login-widget">
        <header class="text-align-center">
            <h3>Join a Party</h3>
        </header>

<%= render 'form' %>
