<h1 align="center">Groovwith. <strong>ME</strong></h1>
<div class="single-widget-container">
    <section class="widget login-widget">
        <header class="text-align-center">
            <h3>Login to your account with</h3>
        </header>
        <footer>
            <!-- <div class="facebook-login">
                <a href="index.html"><span><i class="fa fa-facebook-square fa-lg"></i> LogIn with SPOTIFY</span></a>
            </div> -->
        </footer>

<!-- <p>Everyone starts here.</p>

<br>
<%# if current_user%>
    <p>Signed in as <%#=current_user.name%>, <%#= link_to 'all my parties', 'user/show'%></p>
<%#end%>

    <br> -->
<%= render 'form' %>
