<!-- <div id="react-title"></div> -->
<p>Everyone starts here.</p>

<br>
<% if current_user%>
    <p>Signed in as <%=current_user.name%>, <%= link_to 'all my parties', 'user/show'%></p>
<%end%>

    <br>
<%= render 'form' %>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html"><img src="logo.png" alt="Typica - Bootstrap Awesome Template!"></a>
        </div>
      </div>
    </div>

    <div class="container">

        <div id="login-wraper">
            <form class="form login-form">
                <legend>Sign in to <span class="blue">MyApp</span></legend>
            
                <div class="body">
                    <label>Username</label>
                    <input type="text">
                    
                    <label>Password</label>
                    <input type="password">
                </div>
            
                <div class="footer">
                    <label class="checkbox inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> Remember me
                    </label>
                                
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            
            </form>
        </div>

    </div>

    <footer class="white navbar-fixed-bottom">
      Don't have an account yet? <a href="register.html" class="btn btn-black">Register</a>
    </footer>


<!-- <section id="signin_main" class="authenty signin-main">
  <div class="section-content">
    <div class="wrap">
      <div class="container">   
        <div class="form-wrap">
          <div class="row"> -->
            <!-- <div class="title"> --> <!-- data-animation="fadeInDown"data-animation-delay=".8s" data-animation-delay=".8s" -->
              <!-- <h1>Groovwith.me</h1>
              <h5>One Party. One EPIC playlist</h5> -->
            <!-- </div> --> <!-- something goes missing -->
            <!-- <div id="form_1" class="authenty signin-alt"> --> <!-- (data-animation="bounceIn") data-animation makes something go away -->
              <!-- <div class="form-header">
                <i class="fa fa-user"></i> -->
              <!-- </div> --> <!-- Double check styling -->
              <!-- <div class="form-main">
                <div class="form-group">
                  <input type="text" id="un_1" class="form-control" placeholder="Username" required="required">
                  <input type="password" id="pw_1" class="form-control" placeholder="Password" required="required">
                </div>
                <button id="signIn_1" type="submit" class="btn btn-block signin">Sign In</button>
              </div> -->
              <!-- <div class="sns-signin">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i><span>Sign in with Facebook</span></a>
              </div> -->
              <!-- <div class="form-footer">
                <div class="row">
                  <div class="col-xs-7">
                    <i class="fa fa-unlock-alt"></i>
                    <a href="#password_recovery" id="forgot_from_1">Forgot password?</a>
                  </div>
                  <div class="col-xs-5">
                    <i class="fa fa-check"></i>
                    <a href="#signup_window" id="signup_from_1">Sign Up</a>
                  </div>
                </div>
              </div>     -->
            <!-- </div> --> <!-- something really missing -->
          <!-- </div>
        </div>
      </div>
    </div>
  </div>
</section>
 -->