<h1>This is the User#index</h1>
<p>Everyone starts here.</p>

<% if current_user %>
  Welcome <%= current_user.name %>!
	<%= link_to 'sign out', signout_path %>
<% else %>
  <%= link_to 'Sign in with Spotify', "/auth/spotify" %>
<% end %>

<br>
<%= link_to 'Get the party started', party_create_path %>
