// Place all the styles related to the Party controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-delete {
    background: transparent;
    border: none;
    font-size:0;
}

.song_results{
  list-style-type:none;
}

.trash_icon{
  color:#1d1d1d;
}
